html, body{
  text-align: center;
  background: url(background.jpeg) no-repeat center center fixed;
  background-size: cover;
  
}	

h1{
  font-size: 800%;
  font-family: 'East Sea Dokdo', cursive;
  font-weight: bold;
  font-variant: small-caps;
  margin-top: 2px;
}

#heading{
	background: white;
	color: DarkCyan;
	opacity: 0.8;
	margin-top: 0%;
	padding: 0 0 0 0;
}

#heading:hover{
	background: DarkCyan;
	color: white;
}

p{
	font-family: 'Permanent Marker', cursive;
	font-size: 250%;
	color: DeepPink;
}
	

#klaviatur{
	rotation: 0.1%;
	background: transparent;
}

button{
	cursor: pointer;
	background:transparent;
	border: transparent;
	
	position: absolute;
	font-family: 'East Sea Dokdo', cursive;
	color: black;
	font-size: 180%;
}

button:active{
	border: transparent;
	color: Crimson;
	box-shadow: 15px -15px 25px black inset;
	outline: none;
}

button:focus{
	border: transparent;
	outline: none;
}

#button1{
	
	padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -69%;
	margin-top: 6.5%;
}

#button2{
	
	padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -64.2%;
	margin-top: 6.5%;
}

#button3{
   padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -59.2%;
	margin-top: 6.5%;
}

#button4{
	 padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -54.2%;
	margin-top: 6.5%;
}

#button5{
	 padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -49.3%;
	margin-top: 6.5%;
}

#button6{
	 padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -44.4%;
	margin-top: 6.5%;
}

#button7{
	 padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -39.5%;
	margin-top: 6.5%;
}

#button8{
	 padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -34.6%;
	margin-top: 6.5%;
}

#button9{
	 padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -29.6%;
	margin-top: 6.5%;
}

#button10{
	 padding-top: 18%;
	padding-left: 1.8%;
	padding-right: 1.8%;
	padding-bottom: 1%;
	margin-left: -24.8%;
	margin-top: 6.5%;
}

#button11{
	 padding-top: 18%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	margin-left: -19.9%;
	margin-top: 6.5%;
}

#button12{
	 padding-top: 18%;
	padding-left: 1.8%;
	padding-right: 1.8%;
	padding-bottom: 1%;
	margin-left: -15%;
	margin-top: 6.5%;
}

#button13{
	 padding-top: 18%;
	padding-left: 1.7%;
	padding-right: 1.7%;
	padding-bottom: 1%;
	margin-left: -9.8%;
	margin-top: 6.5%;
}

#button14{
	 padding-top: 18%;
	padding-left: 1.7%;
	padding-right: 1.6%;
	padding-bottom: 1%;
	margin-left: -4.8%;
	margin-top: 6.5%;
}
#volumcontroller {
    height: 5%;
    width: 30%;
}
#volumcontroller div{
    height:2%;
}
/* .volumecontrollerbar{
    border-left:1px solid DeepPink;
    float:right;
    width:5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    background-color: blue;
    cursor:pointer;
}
.volumecontrollerbar:hover{
    background-color:green !important;
} */



	